/*Copyright 2014 by Jonathan Tan. All rights reserved.*/

/*Global style*/
* {
    background-image: url("../graphics/food.png");
	/* Background pattern from subtlepatterns.com */
	background-color: black;
	background-repeat: repeat;
    font-family: 'Lato', Arial;
    color: #A52A2A;
}

/*Header (Language Bar) style*/
#header{
    margin-top: auto;
    position: absolute;
    clear: both;
    top: 0;
    width: 98%;
}

/*Menu icon style*/
.icon{
    height: 32px;
    width: 32px;
    vertical-align: middle;
}

/*Table Settings*/
td{
    align: center;
}

#brotable{
	align: center;
	width: auto;
	margin: 0 auto 1em;
}

/*Link hover style*/
a:hover{
    color: #FFA500;
}

/*List elements style*/
li{
    padding: 3px;
    font-size: 1em;
}

/*Menu list style*/
.menu{
    background-color: white;
}

/*Normal list element style*/
.listNorm{
   list-style: circle;
}

/*Highlighted text style*/
.highlight{
    color: #FFA500;
}

/*Dictionary*/
#dict{
	width: 98%;
	margin: auto;
	float: left;
	text-align: center;
	align: center;
}

/*Word Display*/
#textDiv{
	clear:both;
}

#currentWord{
	text-align: center;
	font-size: 8em;
	width: 76%;
	float: left;
}
#rightWord{
	font-size: 2em;
	float: left;
	width: 12%;
	text-align: right;
}
#leftWord{
	font-size: 2em;
	float: left;
	width: 12%;
	text-align: left;
}


/*Footer style*/
#footer{
    margin-bottom: auto;
    position: absolute;
    clear: both;
    bottom: 0;
    width: 98%;
}

/*Footer text (Copyright) style*/
#copyright{
    font-size: 10px;
    text-align: right;
    position: relative;
}
