<!DOCTYPE html>
<html>
    <head>
		<!--Favicon-->
		<link rel="shortcut icon" type="image/ico" href="/static/graphics/favicon.png" />
		
        <!--Page Title-->
        <title>BlitzFeed</title>
        
        <!--CSS Stylesheet-->
        <link rel='stylesheet' media='screen and (min-width: 1200px)' href='../static/css/stylesheet.css'/>
        <link rel='stylesheet' media='screen and (max-width: 1199px)'href='../static/css/mobile.css' />
        
        <!--Declare utilizaton of UTF-8-->
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		
		<link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
		
		<!--Scripts-->
    </head>
	
    <body>
		<h1>About</h1>
		<!--Footer-->
        <div id="footer">
			<p id="links"><a href="/templates/about.html">About BlitzFeed</a></p>
			<p id="copyright">&copy 2014 by J.T. A.M. M.G. All rights reserved.</p>
		</div>
     </body>
</html>
