<!DOCTYPE html>
<html>
    <head>
		<!--Favicon-->
		<link rel="shortcut icon" type="image/ico" href="favicon.ico" />
		
        <!--Page Title-->
        <title>Marathon</title>
        
        <!--CSS Stylesheet-->
        <link rel='stylesheet' media='screen and (min-width: 1200px)' href='../static/css/stylesheet.css'/>
        <link rel='stylesheet' media='screen and (max-width: 1199px)'href='../static/css/mobile.css' />
        
        <!--Declare utilizaton of UTF-8-->
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		
		<link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
		
		<!--Scripts-->
    </head>
	
    <body>
	
		<div id="header">
			Marathon
			<form class = "menu">
            Select Speed:
            <select  id="myList" onchange = changeSpeed()>
                <option>Beginner - 60 wpm</option>
                <option>Intermediate - 200 wpm</option>
                <option>Advanced - 350 wpm</option>
                <option>Native Speaker - 500 wpm</option>
            </select>
            
         </form>
		 <form class = "menu">
            Select Language:
            <select  id="myList" onchange = changeLanguage()>
                <option>English</option>
                <option>Español</option>
                <option>Français</option>
                <option>Deutsch</option>
            </select>
            
         </form>
		</div>
		
		</br></br></br></br></br></br></br></br></br></br></br></br>
	
		<div id="textDiv"><div id="leftWord">...</div><div id="currentWord"></div><div id="rightWord">...</div></div>
		
		<script type = "text/javascript">
		var index = 0;
		var milliseconds = 1000;
		var wpm = 60;

		var right = document.getElementById("rightWord");
		var left = document.getElementById("leftWord");
		var address = document.getElementById("currentWord");

		var articleArray = {{ news|tojson }};
		
		address.innerHTML = "Start >";

		var timer = setInterval(function(){displayArticle()}, milliseconds);

		console.log(wpm);

		displayArticle = function () {
			if(articleArray[index] == null){
				clearInterval(timer);
				address.innerHTML = "Next >";
				right.innerHTML = "...";
				left.innerHTML = "...";
			return;
		}
		var leftWord;
	
		if(articleArray[index - 1] == null)
			leftWord = "...";
		else
			leftWord = articleArray[index - 1];
	
		left.innerHTML = leftWord;
		address.innerHTML = articleArray[index];
	
		var rightWord;
	
		if(articleArray[index + 1] == null)
			rightWord = "...";
		else
			rightWord = articleArray[index + 1];
		right.innerHTML = rightWord;
		++index;
		}

//Speed Selection
 function changeSpeed(){
	var myList=document.getElementById("myList");
	var x = document.getElementById("myList").selectedIndex;
	var y = document.getElementById("myList").options;
	index = y[x].index;
	if (index == 0){
		setWPM(60);
        return;
    }
    else if (index == 1){
		setWPM(200);
        return;
    }
    else if (index == 2){
		console.log("2");
		setWPM(350);
		return;
    }
    else if (index == 3){
		setWPM(500);
		return;
    }
}

function setWPM(wpmArg){
	wpm = wpmArg;
	console.log("Wpm: " + wpm);
	milliseconds = (60000 / wpm);
	console.log(milliseconds);
	
	clearInterval(timer);
	timer = setInterval(function(){displayArticle()}, milliseconds);
};
		</script>
		
		<!--Footer-->
        <div id="footer"><p id="copyright">&copy 2014 by J.T. A.M. M.G. All rights reserved.</p></div>
     </body>
</html>
